/*Tablet View*/
@media screen and (min-width: 500px)
{
	/*Navigation*/
	nav ul {
		width: 50%;
		float: right;
		margin-bottom: 1%; 
	}

	nav ul li {
		width: 20%;
		margin-left: 4.5%;		
	}

	nav ul li:nth-child(4) {
		margin-left: 2%;
			
	}
	
	nav ul li:hover {
		border-bottom: 6px solid black;
		border-radius: 5px;
	}

	#logo {
		width: 50%;
		margin-top: 20px;
	}

	#arrow {
		margin-right: -4%;
	}

	#arrow:hover {
		margin-right: -6%;
	}

	/*image slide show animation*/
	.slide-show {
		display: none;
	}

	.slide-show img {
		height: auto;
}

	.slide-show-container {
		position: relative;
		margin-top: 30px;  		
	}

	.fade {
		 animation-name: fade;
		 animation-duration: 2s;
	}

	@keyframes fade {
	   from {opacity: .4} 
	   to {opacity: 1}
	}

	#nav-footer {
		display: flex;
		justify-content: center;
	}

	.footer-one nav ul {
		width: 50%;
		margin-right: 4%;
	}

	.footer-one nav ul li {
		text-align: center;	
	}

	.footer-two ul {	
		display: flex;
		justify-content: center;
	}

	.footer-two ul li {
		margin: 0;
	}
}
/*Desktop View*/
@media screen and (min-width: 1000px)
{
	/*Navigation*/
	nav ul {
		clear: both;
		display: flex;
		justify-content: flex-end;
		margin-right: 3.5%;
	}
	
	nav ul li {
		width: 10%;		
	}

	nav ul li:nth-child(4) {
		margin-left: 4%;			
	}
	
	nav ul li:hover {
		border-bottom: 6px solid black;
		border-radius: 5px;
		text-align: center;
	}

	#logo{
		width: 65%;
		margin-top: 45px;	
	}

	/*Content Body*/
	.flex-sections {
		display: flex;
		justify-content: space-between;
	}

	.flex-sections article p {
		padding-right: 20px;
	}

	.flex-sections article h3 {
		width: 95%;
	}

	.slide-show-container {
		margin-top: 50px;  		
	}
		
	/*Slide animation*/
	.slide-show img {
		height: auto;
	}
}