/*Tablet View*/
@media screen and (min-width: 500px)
{
	/*Navigation*/
	nav ul {
		width: 50%;
		float: right;
		margin-bottom: 1%; 
	}

	nav ul li {
		width: 20%;
		margin-left: 4.5%;		
	}

	nav ul li:nth-child(4) {
		margin-left: 2%;
			
	}
	
	nav ul li:hover {
		border-bottom: 6px solid black;
		border-radius: 5px;
	}

	#logo {
		width: 25%;
	}
}
/*Desktop View*/
@media screen and (min-width: 1000px)
{
	/*Navigation*/
	nav ul {
		clear: both;
		display: flex;
		justify-content: flex-end;
		margin-right: 0.5%;
	}
	
	nav ul li {
		width: 10%;		
	}

	nav ul li:nth-child(4) {
		margin-left: 4%;			
	}
	
	nav ul li:hover {
		border-bottom: 6px solid black;
		border-radius: 5px;
		text-align: center;
	}

	#logo{
		width: 15%;
	}
	/*Content Body*/
	.flex-sections {
		display: flex;
		justify-content: space-between;
	}
	/*Slide animation*/
	.slide-show-container img {
		height: 200px;
		width: auto;
	}
}