@media screen and (min-width: 500px)
{
	body {
		margin: 0;
		padding: 0;
		font-size: 1.4em;
	}

	nav {

	}

	nav li {
		font-size: 1.2em;
	}

	main {
	}

	#menu {
		display: none;
	}

	#text-alignment {
		display: flex;
		justify-content: space-around;
		clear: both;
	}

	section {
		
	}


	article {
	width: 100%;
	}

	aside {
	display: flex;
	justify-content: space-between;
	}

	footer {
	height: 400px;
	background: blue;
	}	

}

@media screen and (min-width: 1000px)
{
	body {
		background: red;
		font-size: 1.5em;
	}

	header{
		display: flex;
		height: 150px;
		align-items: center;
	}

	#nav-menu{
		display: block;
	}

	#menu{
		display: none;
	}

	nav{
		width: 50%;
		margin-left: 50%;
		height: auto;
	}

	nav ul{
		margin-top: 0;
	}

	nav ul li{
		display: inline-block;
	}


	footer {
		position: absolute;
		bottom: 0 auto;
		background: blue;
		height: 400px
	}
}