/*Universal attributes*/
body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}	

a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

h1, h3 {
	background: red; 
	padding: 5px;
	font-weight: bold;
	color: black;
	opacity: 0.5;
}

/*Navigation*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;	
}

nav {
	display: none;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {

	width: 23%;
}

#nav-menu {
	position: absolute;
	font-size: 15px;
}


#menu {
	margin-right: 10px;
	height: 20px;
	width: 5%;
}

.show-menu {
	width: 100%;
	margin-top: 50px;
	display: inline-block;
}

.show-menu li {
	display: inline-block;
	text-align: center;
}

#logo {
	width: 30%;
	margin-left: 5px;
}

/*Slide show animation*/
/*Referenced from w3Schools*/
/*May become redudundant*/

.slide-show {
	display: none;
	margin: 0;
}

.slide-show img {
	width: 100%;
}


.slide-show-container {
	position: relative;
	margin-top: 25px;  		
}

.slide-show img {
	width: 100%;
}


/*Content body*/
section {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em;
}
